{%load static%}
<style>
        body {
            background-image: url("{% static 'imagem/oficina.jpg' %}");
            background-size: cover;
        }
        .container {
            margin-top: 50px;
            text-align: center;
        
        }
        .table-container {
            max-width: 100%;
            overflow-x: auto;
        }
        .table {
            margin: 0 auto;
            width: auto;
            background-color: #FFFFFF;
        }
        .table th,
        .table td {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #dee2e6;
        }
        .table th {
            background-color: #f8f9fa;
        }
        .more-button {
            background-color: #007BFF;
        color: #FFFFFF;
            border: none;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
        }
        .more-button:hover {
            background-color: #0056b3;
        }
        h1 {
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        font-size: 60px;
        
    	}
    </style>
