{%load static%}
<html>
	<head>
	<title> Oficina </title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">WEBOFICINA</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
			  	<span class="navbar-toggler-icon"></span>
				</button>
		  
				<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
			  	<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
				  	<a class="nav-link" href="">Inicio <span class="sr-only">(página atual)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="banco" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					IR PARA
				  	</a>
				  	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">OS</a>	
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Banco de Clientes</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href= "{%url 'agenda'%}" >Agenda</a>
				  	</div>
					</li>
			  	</ul>
			  	<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
			  	</form>
				</div>
		  	</nav>
  			<style>
    			.gradient-bg {
      			background: linear-gradient(to bottom right, #FF6B6B, #FFC154);
      			color: white;
    			}
    			.container {
     			 margin-top: 50px;
    			}
    			.h1 {
      			text-align: center;
    			}
    			.table td, .table th {
     			 border: none;
    			}
  			</style>
  			<div class="container">
    				<h1 class="gradient-bg">Agenda da Oficina</h1>
    	<table class="table table-striped">
      <thead class="gradient-bg">
        <tr>
          <th scope="col">Domingo</th>
          <th scope="col">Segunda-feira</th>
          <th scope="col">Terça-feira</th>
          <th scope="col">Quarta-feira</th>
          <th scope="col">Quinta-feira</th>
          <th scope="col">Sexta-feira</th>
          <th scope="col">Sábado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td> </td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
        </tr>
        <tr>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>

	</body>
</html>

