{% extends 'base.html' %}
{% load static %}
{% block content  %}

<body>
	{% include 'partials/_table.html'%}
	{%include 'partials/_navbar2.html'%} 

    <div class="container">
        <h1 class="mt-4">Lista de Clientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Chassi</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">ult. Serv</th>
                    <th scope="col">Editar</th>
                    <th scope="col">remover</th>
           	
                </tr>
            </thead>
            <tbody>
                {% if clientes %}
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.placa }}</td>
                    <td>{{ cliente.chassi }}</td>
                    <td>{{ cliente.telefone }}</td>    
                    <td>{{ cliente.servico }}</th>  
                    <td> <a href="{% url 'editar_cliente' nome_da_oficina=nome_da_oficina cliente_id=cliente.id chave=chave  %}"><button class="btn btn-primary">+</button></a></td>
                    <td><a href="{% url 'remover_do_banco_de_dados' nome_da_oficina=nome_da_oficina cliente_id=cliente.id chave=chave %}"  ><button class="btn btn-danger">-</button></td></a>       
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="10">Nenhum cliente encontrado.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Inclua os arquivos JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
{% endblock  %}

