{% extends 'base.html' %}
{% load static %}
{% block content  %}

<body>
  	{% include 'partials/_table.html'%}
 
	{% include 'partials/_navbar2.html'%}

	<div class="container">
        <table class='table'>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Chassi</th>
                    <th scope="col">Adicionar</th>
                </tr>
            </thead>
            <tbody>
                {% if clientes_filtrados %}
                {% for cliente in clientes_filtrados %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.placa }}</td>
                    <td>{{ cliente.chassi }}</td>
                    <td>{% if cliente.nome %}
                        <a href="{% url 'adicionar_em_servico' nome_da_oficina=nome_da_oficina cliente_id=cliente.id chave=chave  %}"><button class="btn btn-primary">Adicionar</button></a></td>
                    {%endif%}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7"> . . .</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <h1 class="mt-4">Veiculos em servico</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Chassi</th>
                    <th scope="col">Serviço</th>
		    
		    <th scope="col">Entrega prevs.</th>
		    <th scope="col">Valor Peças</th>
		    <th scope="col">Valor Serv</th>
		    <th scope="col">Editar</th>
		    <th scope="col">remover</th>
		  
                </tr>
            </thead>
            <tbody>
                {% if clientes %}
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.placa }}</td>
                    <td>{{ cliente.chassi }}</td>
                    <td>{{cliente.servico}}</td>
                    <td>{{ cliente.data_encerramento }}</td>
                    <td>{{ cliente.valor_pecas }}</td>
                    <td>{{ cliente.valor_servico }}</td>
                 <td>
                        <a href="{% url 'adicionar_em_servico' nome_da_oficina=nome_da_oficina cliente_id=cliente.id chave=chave  %}"><button class="btn btn-primary">+</button></a></td>
                   
		<td>
                        <a href="{% url 'remover_em_servico' nome_da_oficina=nome_da_oficina cliente_id=cliente.id chave=chave %}"><button class="btn btn-danger">-</button></a></td>
               
                </tr>

                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="10">Nenhum cliente encontrado.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
   

   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
{% endblock  %}


